/**
* @stylesheet main.css Main file
*
* Connect all the CSS files in a single main file..
**/

/* Import components */
/* Import header */
@import url('./components/header/header.css');

/* Import code block */
@import url('./components/codeBlock/codeblock.css');

/* Import page */
@import url('./components/page.css');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}